Repository SRohitRaj/Istio, changes with the owners that CODEOWNERS names for each.
All owners: @istio/reviewers-global, @rshriram, @costinm, @istio/reviewers-release, @istio/reviewers-prow, @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker, @mattdelco, @vadimeisenbergibm, @frankbu, @andraxylia, @linsun, @GregHanson, @ijsnellf, @geoand, @sbezverk, @sdake

fix depguard warning
  pilot/pkg/serviceregistry/serviceentry/store_test.go
Owners: @istio/reviewers-istio-pilot

rename Key() to FirstAddressOrNil
  pilot/pkg/model/context.go
  pilot/pkg/model/endpointshards.go
  pilot/pkg/model/service.go
  pilot/pkg/networking/core/listener.go
  pilot/pkg/serviceregistry/kube/controller/controller_test.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice_test.go
  pilot/pkg/serviceregistry/memory/discovery.go
  pilot/pkg/serviceregistry/serviceentry/controller.go
  pilot/pkg/serviceregistry/serviceentry/controller_test.go
  pilot/pkg/serviceregistry/serviceentry/store.go
  pilot/pkg/serviceregistry/util/workloadinstances/index.go
Owners: @istio/reviewers-istio-pilot

Improve ambient e2e coverage
  tests/integration/ambient/baseline_test.go
  tests/integration/ambient/main_test.go
  tests/integration/iop-ambient-test-defaults.yaml
Owners: @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker

lint
  tests/integration/ambient/baseline_test.go
Owners: @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker

Update prometheus.yaml
  samples/addons/prometheus.yaml
Owners: @vadimeisenbergibm, @rshriram, @frankbu

Update prometheus.yaml
  samples/addons/prometheus.yaml
Owners: @vadimeisenbergibm, @rshriram, @frankbu

Update grafana.yaml
  samples/addons/grafana.yaml
Owners: @vadimeisenbergibm, @rshriram, @frankbu

Update kiali.yaml
  samples/addons/kiali.yaml
Owners: @vadimeisenbergibm, @rshriram, @frankbu

Update kiali.yaml
  samples/addons/kiali.yaml
Owners: @vadimeisenbergibm, @rshriram, @frankbu

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
# /tools/, /bin/, /docker/
*       @istio/reviewers-global

# Per component owners. Prefix folders with / so that the owners
# will be requested for reviews for all subdirectories under that
# folder in the root

/.circleci/ @rshriram @costinm # please do not change this
/release/ @istio/reviewers-release
/prow/ @istio/reviewers-prow

/pilot/ @istio/reviewers-istio-pilot
/security/ @istio/reviewers-istio-security
/mixer/ @istio/reviewers-istio-mixer
/galley/ @istio/reviewers-istio-galley
/broker/ @istio/reviewers-istio-broker

/pkg/ @istio/reviewers-istio-pilot @istio/reviewers-istio-security @istio/reviewers-istio-mixer @istio/reviewers-istio-galley @istio/reviewers-istio-broker
/tests/ @istio/reviewers-istio-pilot @istio/reviewers-istio-security @istio/reviewers-istio-mixer @istio/reviewers-istio-galley @istio/reviewers-istio-broker

## All makefile stuff
#includes tests/istio.mk . This has to be below /tests/ so that istio.mk becomes the latest match
Makefile @mattdelco @costinm
*.mk @mattdelco @costinm 

## Istio Bookinfo samples - people who authored the demo
/samples/ @vadimeisenbergibm @rshriram @frankbu

/install/tools/ @costinm
/install/kubernetes/ @andraxylia @linsun
/install/gcp/ @andraxylia
/install/consul/ @GregHanson
/install/eureka/ @ijsnellf
/install/ansible/ @geoand
/install/kubernetes/helm/ @linsun @sbezverk @sdake
