Repository SRohitRaj/Istio, changes with the owners that CODEOWNERS names for each.
All owners: @istio/reviewers-global, @istio/reviewers-istio-release, @istio/reviewers-istio-prow, @istio/reviewers-istio-bin, @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker, @istio/reviewers-istio-samples, @istio/reviewers-istio-install, @costinm, @ldemailly

CODEOWNERS:

# Global fallback
*           @istio/reviewers-global

/release/   @istio/reviewers-istio-release
/prow/      @istio/reviewers-istio-prow
/bin/       @istio/reviewers-istio-bin
/pilot/     @istio/reviewers-istio-pilot
/security/  @istio/reviewers-istio-security
/mixer/     @istio/reviewers-istio-mixer
/galley/    @istio/reviewers-istio-galley
/broker/    @istio/reviewers-istio-broker
/samples/   @istio/reviewers-istio-samples
/install/   @istio/reviewers-istio-install
/tools/     @costinm @ldemailly

# This is intentional. These folders are collective responsibility of all
# devs in istio team whose components (pilot/mixer/security/broker) share
# code from pkg or use tests from tests/ including e2e tests.
/pkg/       @istio/reviewers-istio-pilot @istio/reviewers-istio-security @istio/reviewers-istio-mixer @istio/reviewers-istio-galley @istio/reviewers-istio-broker
/tests/     @istio/reviewers-istio-pilot @istio/reviewers-istio-security @istio/reviewers-istio-mixer @istio/reviewers-istio-galley @istio/reviewers-istio-broker

# Do not enable this. Seems to cause the parsers to fail and not trigger auto review requests
#/.circleci/ @istio/reviewers-istio-circleci

fix depguard warning
  pilot/pkg/serviceregistry/serviceentry/store_test.go
Owners: @istio/reviewers-istio-pilot

rename Key() to FirstAddressOrNil
  pilot/pkg/model/context.go
  pilot/pkg/model/endpointshards.go
  pilot/pkg/model/service.go
  pilot/pkg/networking/core/listener.go
  pilot/pkg/serviceregistry/kube/controller/controller_test.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice_test.go
  pilot/pkg/serviceregistry/memory/discovery.go
  pilot/pkg/serviceregistry/serviceentry/controller.go
  pilot/pkg/serviceregistry/serviceentry/controller_test.go
  pilot/pkg/serviceregistry/serviceentry/store.go
  pilot/pkg/serviceregistry/util/workloadinstances/index.go
Owners: @istio/reviewers-istio-pilot

Improve ambient e2e coverage
  tests/integration/ambient/baseline_test.go
  tests/integration/ambient/main_test.go
  tests/integration/iop-ambient-test-defaults.yaml
Owners: @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker

lint
  tests/integration/ambient/baseline_test.go
Owners: @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker

Update prometheus.yaml
  samples/addons/prometheus.yaml
Owners: @istio/reviewers-istio-samples

Update prometheus.yaml
  samples/addons/prometheus.yaml
Owners: @istio/reviewers-istio-samples

Update grafana.yaml
  samples/addons/grafana.yaml
Owners: @istio/reviewers-istio-samples

Update kiali.yaml
  samples/addons/kiali.yaml
Owners: @istio/reviewers-istio-samples

Update kiali.yaml
  samples/addons/kiali.yaml
Owners: @istio/reviewers-istio-samples
