Repository SRohitRaj/Istio, changes with the owners that CODEOWNERS names for each.
All owners: @geeknoid, @linsun, @rshriram, @istio/wg-test-and-release-maintainers, @istio/wg-config-maintainers, @istio/wg-environments-maintainers, @istio/wg-user-experience-maintainers, @istio/wg-policy-and-telemetry-maintainers, @istio/wg-networking-maintainers, @istio/wg-security-maintainers, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-docs-maintainers

Ambient: support DNS backends with waypoint
  pilot/pkg/networking/core/cluster_waypoint.go
  pkg/test/framework/components/echo/common/deployment/echos.go
  pkg/test/framework/components/echo/common/deployment/external.go
  pkg/test/framework/components/echo/common/deployment/namespace.go
  tests/integration/ambient/main_test.go
  tests/integration/ambient/waypoint_test.go
  tests/integration/pilot/headers_test.go
Owners: @istio/wg-networking-maintainers, @geeknoid, @linsun, @rshriram

Support DestinationRule (beyond subsets) in waypoint
  pilot/pkg/networking/core/cluster_waypoint.go
  pilot/pkg/serviceregistry/kube/controller/ambient/waypoints.go
  tests/integration/ambient/main_test.go
Owners: @istio/wg-networking-maintainers, @geeknoid, @linsun, @rshriram

add warning for non-jump rules in non-Istio chain
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @istio/wg-test-and-release-maintainers

force 0 as proxyuid
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @istio/wg-test-and-release-maintainers

add unit tests
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/capture/testdata/cleanup-dns.golden
  tools/istio-iptables/pkg/capture/testdata/cleanup-empty.golden
Owners: @istio/wg-test-and-release-maintainers

fix cleanup rules creation
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @istio/wg-test-and-release-maintainers

Fix deletion of custom chains
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @istio/wg-test-and-release-maintainers

align iptablesRestoreCommand func signature
  cni/pkg/iptables/iptables.go
Owners: @geeknoid, @linsun, @rshriram

Add WIP rerun test
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @istio/wg-test-and-release-maintainers

update golden files
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/capture/testdata/basic-exclude-nic.golden
  tools/istio-iptables/pkg/capture/testdata/dns-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/drop-invalid.golden
  tools/istio-iptables/pkg/capture/testdata/empty.golden
  tools/istio-iptables/pkg/capture/testdata/host-ipv4-loopback-cidr.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-include.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-tproxy.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-wildcard-tproxy.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-wildcard.golden
  tools/istio-iptables/pkg/capture/testdata/ip-range.golden
  tools/istio-iptables/pkg/capture/testdata/ipnets-with-kube-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/ipnets.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-outbound-owner-groups-exclude.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-outbound-owner-groups.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-empty-inbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-inbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-ipnets.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-outbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/kube-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/logging.golden
  tools/istio-iptables/pkg/capture/testdata/loopback-outbound-iprange.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-owner-groups-exclude.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-owner-groups.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-ports-include.golden
  tools/istio-iptables/pkg/capture/testdata/tproxy.golden
Owners: @istio/wg-test-and-release-maintainers

add log message
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/wg-test-and-release-maintainers

change release note type
  releasenotes/notes/50328.yaml
Owners: @geeknoid, @linsun, @rshriram

update comments
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @istio/wg-test-and-release-maintainers

add release note
  releasenotes/notes/50328.yaml
Owners: @geeknoid, @linsun, @rshriram

add skip-cleanup arg
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/cmd/root.go
  tools/istio-iptables/pkg/config/config.go
  tools/istio-iptables/pkg/constants/constants.go
Owners: @istio/wg-test-and-release-maintainers

add unequal rerun testcases
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @istio/wg-test-and-release-maintainers

relax detection in non-istio chains^
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @istio/wg-test-and-release-maintainers

add guardrails and cleanup
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/dependencies/implementation.go
  tools/istio-iptables/pkg/dependencies/implementation_linux.go
Owners: @istio/wg-test-and-release-maintainers

Remove leftovers of old logic
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/wg-test-and-release-maintainers

Add check logic and rework existing cleanup
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/capture/testdata/basic-exclude-nic.golden
  tools/istio-iptables/pkg/capture/testdata/dns-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/drop-invalid.golden
  tools/istio-iptables/pkg/capture/testdata/empty.golden
  tools/istio-iptables/pkg/capture/testdata/host-ipv4-loopback-cidr.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-include.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-tproxy.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-wildcard-tproxy.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-wildcard.golden
  tools/istio-iptables/pkg/capture/testdata/ip-range.golden
  tools/istio-iptables/pkg/capture/testdata/ipnets-with-kube-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/ipnets.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-outbound-owner-groups-exclude.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-outbound-owner-groups.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-empty-inbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-inbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-ipnets.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-outbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/kube-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/logging.golden
  tools/istio-iptables/pkg/capture/testdata/loopback-outbound-iprange.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-owner-groups-exclude.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-owner-groups.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-ports-include.golden
  tools/istio-iptables/pkg/capture/testdata/tproxy.golden
  tools/istio-iptables/pkg/cmd/root.go
  tools/istio-iptables/pkg/config/config.go
  tools/istio-iptables/pkg/constants/constants.go
  tools/istio-iptables/pkg/dependencies/implementation.go
  tools/istio-iptables/pkg/dependencies/implementation_linux.go
  tools/istio-iptables/pkg/dependencies/interface.go
  tools/istio-iptables/pkg/dependencies/stub.go
Owners: @istio/wg-test-and-release-maintainers

fix mac builds
  tools/istio-iptables/pkg/dependencies/implementation_unspecified.go
Owners: @istio/wg-test-and-release-maintainers

fix dryrun tests for cni iptables
  cni/pkg/plugin/plugin_dryrun_test.go
  tools/istio-iptables/pkg/capture/run.go
Owners: @geeknoid, @linsun, @rshriram, @istio/wg-test-and-release-maintainers

lint and refactor code
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/wg-test-and-release-maintainers

remove redundant func
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @istio/wg-test-and-release-maintainers

update gen files
  pkg/kube/inject/testdata/inject/proxy-override-runas.yaml.injected
  pkg/kube/inject/testdata/inject/proxy-override-runas.yaml.tproxy.injected
  pkg/kube/inject/testdata/inputs/proxy-override-runas.yaml.34.template.gen.yaml
Owners: @geeknoid, @linsun, @rshriram

add guardrails for udp traffic
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @istio/wg-test-and-release-maintainers

adjust log message level
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/wg-test-and-release-maintainers

Refactor based on comments
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @istio/wg-test-and-release-maintainers

add checkRules unit test
  tools/istio-iptables/pkg/builder/iptables_builder_test.go
Owners: @istio/wg-test-and-release-maintainers

add reverseRules unit tests
  tools/istio-iptables/pkg/builder/iptables_builder_test.go
Owners: @istio/wg-test-and-release-maintainers

remove redundant asserts
  tools/istio-iptables/pkg/builder/iptables_builder_test.go
Owners: @istio/wg-test-and-release-maintainers

adjust VerifyIptablesState variables
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @istio/wg-test-and-release-maintainers

remove regexes and sorting from getStateFromSave, improve printouts
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/wg-test-and-release-maintainers

add comments to reverse/check mutation
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @istio/wg-test-and-release-maintainers

add comments about verifyIptablesState and getStateFromSave behavior
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/wg-test-and-release-maintainers

Support mutiple addresses for IstioEndpoint
  pilot/pkg/model/context.go
  pilot/pkg/model/endpointshards.go
  pilot/pkg/model/endpointshards_test.go
  pilot/pkg/model/push_context_test.go
  pilot/pkg/model/service.go
  pilot/pkg/model/service_test.go
  pilot/pkg/model/validation_test.go
  pilot/pkg/networking/apigen/apigen_test.go
  pilot/pkg/networking/core/cluster_builder_test.go
  pilot/pkg/networking/core/cluster_test.go
  pilot/pkg/networking/core/listener.go
  pilot/pkg/networking/core/listener_builder_test.go
  pilot/pkg/networking/core/listener_test.go
  pilot/pkg/networking/core/loadbalancer/loadbalancer_test.go
  pilot/pkg/networking/core/sidecar_simulation_test.go
  pilot/pkg/networking/grpcgen/grpcgen_test.go
  pilot/pkg/serviceregistry/kube/controller/controller_test.go
  pilot/pkg/serviceregistry/kube/controller/endpoint_builder.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice_test.go
  pilot/pkg/serviceregistry/kube/conversion.go
  pilot/pkg/serviceregistry/memory/discovery.go
  pilot/pkg/serviceregistry/mock/discovery.go
  pilot/pkg/serviceregistry/serviceentry/controller.go
  pilot/pkg/serviceregistry/serviceentry/controller_test.go
  pilot/pkg/serviceregistry/serviceentry/conversion.go
  pilot/pkg/serviceregistry/serviceentry/conversion_test.go
  pilot/pkg/serviceregistry/serviceentry/store.go
  pilot/pkg/serviceregistry/serviceentry/store_test.go
  pilot/pkg/serviceregistry/serviceregistry_test.go
  pilot/pkg/serviceregistry/util/workloadinstances/index.go
  pilot/pkg/serviceregistry/util/workloadinstances/index_test.go
  pilot/pkg/xds/eds_sh_test.go
  pilot/pkg/xds/eds_test.go
  pilot/pkg/xds/endpoints/endpoint_builder.go
  pilot/pkg/xds/endpoints/endpoint_builder_test.go
  pilot/pkg/xds/endpoints/ep_filters_test.go
  pkg/dns/server/name_table.go
  pkg/dns/server/name_table_test.go
  releasenotes/notes/47273.yaml
Owners: @istio/wg-networking-maintainers, @geeknoid, @linsun, @rshriram

Short circuit nametable builder if one address is not valid
  pkg/dns/server/name_table.go
Owners: @geeknoid, @linsun, @rshriram

minor test improvements
  pilot/pkg/serviceregistry/serviceentry/store_test.go
Owners: @istio/wg-networking-maintainers

fix tests
  pilot/pkg/serviceregistry/serviceentry/controller_test.go
  pilot/pkg/xds/endpoints/ep_filters_test.go
Owners: @istio/wg-networking-maintainers

Update comment
  pilot/pkg/model/service.go
Owners: @istio/wg-networking-maintainers

CODEOWNERS:

*                                                                @geeknoid @linsun @rshriram
/bin/                                                            @istio/wg-test-and-release-maintainers
/galley/                                                         @istio/wg-config-maintainers
/install/                                                        @istio/wg-environments-maintainers
/istioctl/                                                       @istio/wg-user-experience-maintainers
/mixer/                                                          @istio/wg-policy-and-telemetry-maintainers
/pilot/                                                          @istio/wg-networking-maintainers
/pilot/pkg/security/                                             @istio/wg-security-maintainers
/pilot/pkg/config/                                               @istio/wg-config-maintainers
/pilot/pkg/networking/plugin/mixer/                              @istio/wg-policies-and-telemetry-maintainers
/pkg/bootstrap/                                                  @istio/wg-environments-maintainers
/pkg/mcp/                                                        @istio/wg-config-maintainers
/prow/                                                           @istio/wg-test-and-release-maintainers
/release/                                                        @istio/wg-test-and-release-maintainers
/samples/                                                        @istio/wg-docs-maintainers
/security/                                                       @istio/wg-security-maintainers
/tests/e2e/local/                                                @istio/wg-test-and-release-maintainers
/tests/e2e/tests/mixer/                                          @istio/wg-policies-and-telemetry-maintainers
/tests/e2e/tests/pilot/                                          @istio/wg-networking-maintainers
/tests/integration/conformance/                                  @istio/wg-config-maintainers
/tests/integration/framework/                                    @istio/wg-test-and-release-maintainers
/tests/integration/galley/                                       @istio/wg-config-maintainers
/tests/integration/mixer/                                        @istio/wg-policy-and-telemetry-maintainers
/tests/integration/pilot/                                        @istio/wg-networking-maintainers
/tests/integration/qualification/                                @istio/wg-test-and-release-maintainers
/tests/integration/security/                                     @istio/wg-security-maintainers
/tests/istio.io/                                                 @istio/wg-docs-maintainers
/tools/                                                          @istio/wg-test-and-release-maintainers
