Repository SRohitRaj/Istio, changes with the owners that CODEOWNERS names for each.
All owners: @istio/reviewers, @rshriram, @costinm, @mattdelco, @sebastienvas, @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*       @istio/reviewers

# Per component owners. Prefix folders with / so that the owners
# will be requested for reviews for all subdirectories under that
# folder in the root
/.circleci/ @rshriram @costinm # please do not change this
/release/ @mattdelco
/prow/ @sebastienvas

## TODO samples, install
# /pkg/, /tests/, /tools/, /bin/, /docker/ is everyone's responsibility

/pilot/ @istio/reviewers-istio-pilot
/security/ @istio/reviewers-istio-security
/mixer/ @istio/reviewers-istio-mixer
/galley/ @istio/reviewers-istio-galley
/broker/ @istio/reviewers-istio-broker

Ambient: support DNS backends with waypoint
  pilot/pkg/networking/core/cluster_waypoint.go
  pkg/test/framework/components/echo/common/deployment/echos.go
  pkg/test/framework/components/echo/common/deployment/external.go
  pkg/test/framework/components/echo/common/deployment/namespace.go
  tests/integration/ambient/main_test.go
  tests/integration/ambient/waypoint_test.go
  tests/integration/pilot/headers_test.go
Owners: @istio/reviewers-istio-pilot, @istio/reviewers

Support DestinationRule (beyond subsets) in waypoint
  pilot/pkg/networking/core/cluster_waypoint.go
  pilot/pkg/serviceregistry/kube/controller/ambient/waypoints.go
  tests/integration/ambient/main_test.go
Owners: @istio/reviewers-istio-pilot, @istio/reviewers

add warning for non-jump rules in non-Istio chain
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @istio/reviewers

force 0 as proxyuid
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @istio/reviewers

add unit tests
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/capture/testdata/cleanup-dns.golden
  tools/istio-iptables/pkg/capture/testdata/cleanup-empty.golden
Owners: @istio/reviewers

fix cleanup rules creation
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @istio/reviewers

Fix deletion of custom chains
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @istio/reviewers

align iptablesRestoreCommand func signature
  cni/pkg/iptables/iptables.go
Owners: @istio/reviewers

Add WIP rerun test
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @istio/reviewers

update golden files
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/capture/testdata/basic-exclude-nic.golden
  tools/istio-iptables/pkg/capture/testdata/dns-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/drop-invalid.golden
  tools/istio-iptables/pkg/capture/testdata/empty.golden
  tools/istio-iptables/pkg/capture/testdata/host-ipv4-loopback-cidr.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-include.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-tproxy.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-wildcard-tproxy.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-wildcard.golden
  tools/istio-iptables/pkg/capture/testdata/ip-range.golden
  tools/istio-iptables/pkg/capture/testdata/ipnets-with-kube-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/ipnets.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-outbound-owner-groups-exclude.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-outbound-owner-groups.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-empty-inbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-inbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-ipnets.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-outbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/kube-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/logging.golden
  tools/istio-iptables/pkg/capture/testdata/loopback-outbound-iprange.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-owner-groups-exclude.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-owner-groups.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-ports-include.golden
  tools/istio-iptables/pkg/capture/testdata/tproxy.golden
Owners: @istio/reviewers

add log message
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/reviewers

change release note type
  releasenotes/notes/50328.yaml
Owners: @istio/reviewers

update comments
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @istio/reviewers

add release note
  releasenotes/notes/50328.yaml
Owners: @istio/reviewers

add skip-cleanup arg
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/cmd/root.go
  tools/istio-iptables/pkg/config/config.go
  tools/istio-iptables/pkg/constants/constants.go
Owners: @istio/reviewers

add unequal rerun testcases
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @istio/reviewers

relax detection in non-istio chains^
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @istio/reviewers

add guardrails and cleanup
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/dependencies/implementation.go
  tools/istio-iptables/pkg/dependencies/implementation_linux.go
Owners: @istio/reviewers

Remove leftovers of old logic
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/reviewers

Add check logic and rework existing cleanup
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/capture/testdata/basic-exclude-nic.golden
  tools/istio-iptables/pkg/capture/testdata/dns-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/drop-invalid.golden
  tools/istio-iptables/pkg/capture/testdata/empty.golden
  tools/istio-iptables/pkg/capture/testdata/host-ipv4-loopback-cidr.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-include.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-tproxy.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-wildcard-tproxy.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-wildcard.golden
  tools/istio-iptables/pkg/capture/testdata/ip-range.golden
  tools/istio-iptables/pkg/capture/testdata/ipnets-with-kube-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/ipnets.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-outbound-owner-groups-exclude.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-outbound-owner-groups.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-empty-inbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-inbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-ipnets.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-outbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/kube-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/logging.golden
  tools/istio-iptables/pkg/capture/testdata/loopback-outbound-iprange.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-owner-groups-exclude.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-owner-groups.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-ports-include.golden
  tools/istio-iptables/pkg/capture/testdata/tproxy.golden
  tools/istio-iptables/pkg/cmd/root.go
  tools/istio-iptables/pkg/config/config.go
  tools/istio-iptables/pkg/constants/constants.go
  tools/istio-iptables/pkg/dependencies/implementation.go
  tools/istio-iptables/pkg/dependencies/implementation_linux.go
  tools/istio-iptables/pkg/dependencies/interface.go
  tools/istio-iptables/pkg/dependencies/stub.go
Owners: @istio/reviewers

fix mac builds
  tools/istio-iptables/pkg/dependencies/implementation_unspecified.go
Owners: @istio/reviewers

fix dryrun tests for cni iptables
  cni/pkg/plugin/plugin_dryrun_test.go
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/reviewers

lint and refactor code
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/reviewers

remove redundant func
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @istio/reviewers

update gen files
  pkg/kube/inject/testdata/inject/proxy-override-runas.yaml.injected
  pkg/kube/inject/testdata/inject/proxy-override-runas.yaml.tproxy.injected
  pkg/kube/inject/testdata/inputs/proxy-override-runas.yaml.34.template.gen.yaml
Owners: @istio/reviewers

add guardrails for udp traffic
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @istio/reviewers

adjust log message level
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/reviewers

Refactor based on comments
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @istio/reviewers

add checkRules unit test
  tools/istio-iptables/pkg/builder/iptables_builder_test.go
Owners: @istio/reviewers

add reverseRules unit tests
  tools/istio-iptables/pkg/builder/iptables_builder_test.go
Owners: @istio/reviewers

remove redundant asserts
  tools/istio-iptables/pkg/builder/iptables_builder_test.go
Owners: @istio/reviewers

adjust VerifyIptablesState variables
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @istio/reviewers

remove regexes and sorting from getStateFromSave, improve printouts
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/reviewers

add comments to reverse/check mutation
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @istio/reviewers

add comments about verifyIptablesState and getStateFromSave behavior
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/reviewers

Support mutiple addresses for IstioEndpoint
  pilot/pkg/model/context.go
  pilot/pkg/model/endpointshards.go
  pilot/pkg/model/endpointshards_test.go
  pilot/pkg/model/push_context_test.go
  pilot/pkg/model/service.go
  pilot/pkg/model/service_test.go
  pilot/pkg/model/validation_test.go
  pilot/pkg/networking/apigen/apigen_test.go
  pilot/pkg/networking/core/cluster_builder_test.go
  pilot/pkg/networking/core/cluster_test.go
  pilot/pkg/networking/core/listener.go
  pilot/pkg/networking/core/listener_builder_test.go
  pilot/pkg/networking/core/listener_test.go
  pilot/pkg/networking/core/loadbalancer/loadbalancer_test.go
  pilot/pkg/networking/core/sidecar_simulation_test.go
  pilot/pkg/networking/grpcgen/grpcgen_test.go
  pilot/pkg/serviceregistry/kube/controller/controller_test.go
  pilot/pkg/serviceregistry/kube/controller/endpoint_builder.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice_test.go
  pilot/pkg/serviceregistry/kube/conversion.go
  pilot/pkg/serviceregistry/memory/discovery.go
  pilot/pkg/serviceregistry/mock/discovery.go
  pilot/pkg/serviceregistry/serviceentry/controller.go
  pilot/pkg/serviceregistry/serviceentry/controller_test.go
  pilot/pkg/serviceregistry/serviceentry/conversion.go
  pilot/pkg/serviceregistry/serviceentry/conversion_test.go
  pilot/pkg/serviceregistry/serviceentry/store.go
  pilot/pkg/serviceregistry/serviceentry/store_test.go
  pilot/pkg/serviceregistry/serviceregistry_test.go
  pilot/pkg/serviceregistry/util/workloadinstances/index.go
  pilot/pkg/serviceregistry/util/workloadinstances/index_test.go
  pilot/pkg/xds/eds_sh_test.go
  pilot/pkg/xds/eds_test.go
  pilot/pkg/xds/endpoints/endpoint_builder.go
  pilot/pkg/xds/endpoints/endpoint_builder_test.go
  pilot/pkg/xds/endpoints/ep_filters_test.go
  pkg/dns/server/name_table.go
  pkg/dns/server/name_table_test.go
  releasenotes/notes/47273.yaml
Owners: @istio/reviewers-istio-pilot, @istio/reviewers

Short circuit nametable builder if one address is not valid
  pkg/dns/server/name_table.go
Owners: @istio/reviewers

minor test improvements
  pilot/pkg/serviceregistry/serviceentry/store_test.go
Owners: @istio/reviewers-istio-pilot

fix tests
  pilot/pkg/serviceregistry/serviceentry/controller_test.go
  pilot/pkg/xds/endpoints/ep_filters_test.go
Owners: @istio/reviewers-istio-pilot

Update comment
  pilot/pkg/model/service.go
Owners: @istio/reviewers-istio-pilot
