Repository SRohitRaj/Istio, changes with the owners that CODEOWNERS names for each.
All owners: @istio/reviewers-global, @istio/reviewers-circleci, @istio/reviewers-release, @istio/reviewers-prow, @istio/reviewers-bin, @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker, @istio/reviewers-samples, @istio/reviewers-install, @mandarjog, @mattdelco, @costinm

fix depguard warning
  pilot/pkg/serviceregistry/serviceentry/store_test.go
Owners: @istio/reviewers-istio-pilot

rename Key() to FirstAddressOrNil
  pilot/pkg/model/context.go
  pilot/pkg/model/endpointshards.go
  pilot/pkg/model/service.go
  pilot/pkg/networking/core/listener.go
  pilot/pkg/serviceregistry/kube/controller/controller_test.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice_test.go
  pilot/pkg/serviceregistry/memory/discovery.go
  pilot/pkg/serviceregistry/serviceentry/controller.go
  pilot/pkg/serviceregistry/serviceentry/controller_test.go
  pilot/pkg/serviceregistry/serviceentry/store.go
  pilot/pkg/serviceregistry/util/workloadinstances/index.go
Owners: @istio/reviewers-istio-pilot

Improve ambient e2e coverage
  tests/integration/ambient/baseline_test.go
  tests/integration/ambient/main_test.go
  tests/integration/iop-ambient-test-defaults.yaml
Owners: @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker

lint
  tests/integration/ambient/baseline_test.go
Owners: @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker

Update prometheus.yaml
  samples/addons/prometheus.yaml
Owners: @istio/reviewers-samples

Update prometheus.yaml
  samples/addons/prometheus.yaml
Owners: @istio/reviewers-samples

Update grafana.yaml
  samples/addons/grafana.yaml
Owners: @istio/reviewers-samples

Update kiali.yaml
  samples/addons/kiali.yaml
Owners: @istio/reviewers-samples

Update kiali.yaml
  samples/addons/kiali.yaml
Owners: @istio/reviewers-samples

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the global owners will be requested for
# review when someone opens a pull request.
*       @istio/reviewers-global

# Per component owners. Prefix folders with / so that the owners
# will be requested for reviews for all subdirectories under that
# folder in the root

/.circleci/ @istio/reviewers-circleci
/release/ @istio/reviewers-release
/prow/ @istio/reviewers-prow
/bin/ @istio/reviewers-bin

/pilot/ @istio/reviewers-istio-pilot
/security/ @istio/reviewers-istio-security
/mixer/ @istio/reviewers-istio-mixer
/galley/ @istio/reviewers-istio-galley
/broker/ @istio/reviewers-istio-broker
/samples/ @istio/reviewers-samples
/install/ @istio/reviewers-install

# This is intentional. These folders are collective responsibility of all
# devs in istio team whose components (pilot/mixer/security/broker) share
# code from pkg or use tests from tests/ including e2e tests.
/pkg/ @istio/reviewers-istio-pilot @istio/reviewers-istio-security @istio/reviewers-istio-mixer @istio/reviewers-istio-galley @istio/reviewers-istio-broker
/tests/ @istio/reviewers-istio-pilot @istio/reviewers-istio-security @istio/reviewers-istio-mixer @istio/reviewers-istio-galley @istio/reviewers-istio-broker

/docker/ @mandarjog ## Need to move this dir to something else.

# All makefile and build stuff including tests/istio.mk . This has to be
# below /tests/ so that istio.mk becomes the latest match
Makefile @mattdelco @costinm
*.mk @mattdelco @costinm 


/tools/ @costinm ldemailly
