Repository SRohitRaj/Istio, changes with the owners that CODEOWNERS names for each.
All owners: @geeknoid, @linsun, @rshriram, @istio/wg-test-and-release-maintainers, @istio/wg-config-maintainers, @istio/wg-environments-maintainers, @istio/wg-user-experience-maintainers, @istio/wg-policy-and-telemetry-maintainers, @istio/wg-networking-maintainers, @istio/wg-security-maintainers, @istio/wg-policies-and-telemetry-maintainers, @istio/wg-docs-maintainers

CODEOWNERS:

*                                                                @geeknoid @linsun @rshriram
/bin/                                                            @istio/wg-test-and-release-maintainers
/galley/                                                         @istio/wg-config-maintainers
/install/                                                        @istio/wg-environments-maintainers
/istioctl/                                                       @istio/wg-user-experience-maintainers
/mixer/                                                          @istio/wg-policy-and-telemetry-maintainers
/pilot/                                                          @istio/wg-networking-maintainers
/pilot/pkg/security/                                             @istio/wg-security-maintainers
/pilot/pkg/config/                                               @istio/wg-config-maintainers
/pilot/pkg/networking/plugin/mixer/                              @istio/wg-policies-and-telemetry-maintainers
/pkg/bootstrap/                                                  @istio/wg-environments-maintainers
/pkg/mcp/                                                        @istio/wg-config-maintainers
/prow/                                                           @istio/wg-test-and-release-maintainers
/release/                                                        @istio/wg-test-and-release-maintainers
/samples/                                                        @istio/wg-docs-maintainers
/security/                                                       @istio/wg-security-maintainers
/tests/e2e/local/                                                @istio/wg-test-and-release-maintainers
/tests/e2e/tests/mixer/                                          @istio/wg-policies-and-telemetry-maintainers
/tests/e2e/tests/pilot/                                          @istio/wg-networking-maintainers
/tests/integration/conformance/                                  @istio/wg-config-maintainers
/tests/integration/framework/                                    @istio/wg-test-and-release-maintainers
/tests/integration/galley/                                       @istio/wg-config-maintainers
/tests/integration/mixer/                                        @istio/wg-policy-and-telemetry-maintainers
/tests/integration/pilot/                                        @istio/wg-networking-maintainers
/tests/integration/qualification/                                @istio/wg-test-and-release-maintainers
/tests/integration/security/                                     @istio/wg-security-maintainers
/tests/istio.io/                                                 @istio/wg-docs-maintainers
/tools/                                                          @istio/wg-test-and-release-maintainers

fix depguard warning
  pilot/pkg/serviceregistry/serviceentry/store_test.go
Owners: @istio/wg-networking-maintainers

rename Key() to FirstAddressOrNil
  pilot/pkg/model/context.go
  pilot/pkg/model/endpointshards.go
  pilot/pkg/model/service.go
  pilot/pkg/networking/core/listener.go
  pilot/pkg/serviceregistry/kube/controller/controller_test.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice_test.go
  pilot/pkg/serviceregistry/memory/discovery.go
  pilot/pkg/serviceregistry/serviceentry/controller.go
  pilot/pkg/serviceregistry/serviceentry/controller_test.go
  pilot/pkg/serviceregistry/serviceentry/store.go
  pilot/pkg/serviceregistry/util/workloadinstances/index.go
Owners: @istio/wg-networking-maintainers

Improve ambient e2e coverage
  tests/integration/ambient/baseline_test.go
  tests/integration/ambient/main_test.go
  tests/integration/iop-ambient-test-defaults.yaml
Owners: @geeknoid, @linsun, @rshriram

lint
  tests/integration/ambient/baseline_test.go
Owners: @geeknoid, @linsun, @rshriram

Update prometheus.yaml
  samples/addons/prometheus.yaml
Owners: @istio/wg-docs-maintainers

Update prometheus.yaml
  samples/addons/prometheus.yaml
Owners: @istio/wg-docs-maintainers

Update grafana.yaml
  samples/addons/grafana.yaml
Owners: @istio/wg-docs-maintainers

Update kiali.yaml
  samples/addons/kiali.yaml
Owners: @istio/wg-docs-maintainers

Update kiali.yaml
  samples/addons/kiali.yaml
Owners: @istio/wg-docs-maintainers
