Repository SRohitRaj/Istio, changes with the owners that CODEOWNERS names for each.
All owners: @istio/reviewers-global, @istio/reviewers-istio-release, @istio/reviewers-istio-prow, @istio/reviewers-istio-bin, @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker, @istio/reviewers-istio-samples, @istio/reviewers-istio-install, @costinm, @ldemailly

Ambient: support DNS backends with waypoint
  pilot/pkg/networking/core/cluster_waypoint.go
  pkg/test/framework/components/echo/common/deployment/echos.go
  pkg/test/framework/components/echo/common/deployment/external.go
  pkg/test/framework/components/echo/common/deployment/namespace.go
  tests/integration/ambient/main_test.go
  tests/integration/ambient/waypoint_test.go
  tests/integration/pilot/headers_test.go
Owners: @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker

Support DestinationRule (beyond subsets) in waypoint
  pilot/pkg/networking/core/cluster_waypoint.go
  pilot/pkg/serviceregistry/kube/controller/ambient/waypoints.go
  tests/integration/ambient/main_test.go
Owners: @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker

add warning for non-jump rules in non-Istio chain
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @costinm, @ldemailly

force 0 as proxyuid
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @costinm, @ldemailly

add unit tests
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/capture/testdata/cleanup-dns.golden
  tools/istio-iptables/pkg/capture/testdata/cleanup-empty.golden
Owners: @costinm, @ldemailly

fix cleanup rules creation
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @costinm, @ldemailly

Fix deletion of custom chains
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @costinm, @ldemailly

align iptablesRestoreCommand func signature
  cni/pkg/iptables/iptables.go
Owners: @istio/reviewers-global

Add WIP rerun test
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @costinm, @ldemailly

update golden files
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/capture/testdata/basic-exclude-nic.golden
  tools/istio-iptables/pkg/capture/testdata/dns-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/drop-invalid.golden
  tools/istio-iptables/pkg/capture/testdata/empty.golden
  tools/istio-iptables/pkg/capture/testdata/host-ipv4-loopback-cidr.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-include.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-tproxy.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-wildcard-tproxy.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-wildcard.golden
  tools/istio-iptables/pkg/capture/testdata/ip-range.golden
  tools/istio-iptables/pkg/capture/testdata/ipnets-with-kube-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/ipnets.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-outbound-owner-groups-exclude.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-outbound-owner-groups.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-empty-inbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-inbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-ipnets.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-outbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/kube-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/logging.golden
  tools/istio-iptables/pkg/capture/testdata/loopback-outbound-iprange.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-owner-groups-exclude.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-owner-groups.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-ports-include.golden
  tools/istio-iptables/pkg/capture/testdata/tproxy.golden
Owners: @costinm, @ldemailly

add log message
  tools/istio-iptables/pkg/capture/run.go
Owners: @costinm, @ldemailly

change release note type
  releasenotes/notes/50328.yaml
Owners: @istio/reviewers-global

update comments
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @costinm, @ldemailly

add release note
  releasenotes/notes/50328.yaml
Owners: @istio/reviewers-global

add skip-cleanup arg
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/cmd/root.go
  tools/istio-iptables/pkg/config/config.go
  tools/istio-iptables/pkg/constants/constants.go
Owners: @costinm, @ldemailly

add unequal rerun testcases
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @costinm, @ldemailly

relax detection in non-istio chains^
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @costinm, @ldemailly

add guardrails and cleanup
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/dependencies/implementation.go
  tools/istio-iptables/pkg/dependencies/implementation_linux.go
Owners: @costinm, @ldemailly

Remove leftovers of old logic
  tools/istio-iptables/pkg/capture/run.go
Owners: @costinm, @ldemailly

Add check logic and rework existing cleanup
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
  tools/istio-iptables/pkg/capture/testdata/basic-exclude-nic.golden
  tools/istio-iptables/pkg/capture/testdata/dns-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/drop-invalid.golden
  tools/istio-iptables/pkg/capture/testdata/empty.golden
  tools/istio-iptables/pkg/capture/testdata/host-ipv4-loopback-cidr.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-include.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-tproxy.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-wildcard-tproxy.golden
  tools/istio-iptables/pkg/capture/testdata/inbound-ports-wildcard.golden
  tools/istio-iptables/pkg/capture/testdata/ip-range.golden
  tools/istio-iptables/pkg/capture/testdata/ipnets-with-kube-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/ipnets.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-outbound-owner-groups-exclude.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-outbound-owner-groups.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-dns-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-empty-inbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-inbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-ipnets.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-outbound-ports.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-uid-gid.golden
  tools/istio-iptables/pkg/capture/testdata/ipv6-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/kube-virt-interfaces.golden
  tools/istio-iptables/pkg/capture/testdata/logging.golden
  tools/istio-iptables/pkg/capture/testdata/loopback-outbound-iprange.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-owner-groups-exclude.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-owner-groups.golden
  tools/istio-iptables/pkg/capture/testdata/outbound-ports-include.golden
  tools/istio-iptables/pkg/capture/testdata/tproxy.golden
  tools/istio-iptables/pkg/cmd/root.go
  tools/istio-iptables/pkg/config/config.go
  tools/istio-iptables/pkg/constants/constants.go
  tools/istio-iptables/pkg/dependencies/implementation.go
  tools/istio-iptables/pkg/dependencies/implementation_linux.go
  tools/istio-iptables/pkg/dependencies/interface.go
  tools/istio-iptables/pkg/dependencies/stub.go
Owners: @costinm, @ldemailly

fix mac builds
  tools/istio-iptables/pkg/dependencies/implementation_unspecified.go
Owners: @costinm, @ldemailly

fix dryrun tests for cni iptables
  cni/pkg/plugin/plugin_dryrun_test.go
  tools/istio-iptables/pkg/capture/run.go
Owners: @istio/reviewers-global, @costinm, @ldemailly

lint and refactor code
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
  tools/istio-iptables/pkg/capture/run.go
Owners: @costinm, @ldemailly

remove redundant func
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @costinm, @ldemailly

update gen files
  pkg/kube/inject/testdata/inject/proxy-override-runas.yaml.injected
  pkg/kube/inject/testdata/inject/proxy-override-runas.yaml.tproxy.injected
  pkg/kube/inject/testdata/inputs/proxy-override-runas.yaml.34.template.gen.yaml
Owners: @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker

add guardrails for udp traffic
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @costinm, @ldemailly

adjust log message level
  tools/istio-iptables/pkg/capture/run.go
Owners: @costinm, @ldemailly

Refactor based on comments
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @costinm, @ldemailly

add checkRules unit test
  tools/istio-iptables/pkg/builder/iptables_builder_test.go
Owners: @costinm, @ldemailly

add reverseRules unit tests
  tools/istio-iptables/pkg/builder/iptables_builder_test.go
Owners: @costinm, @ldemailly

remove redundant asserts
  tools/istio-iptables/pkg/builder/iptables_builder_test.go
Owners: @costinm, @ldemailly

adjust VerifyIptablesState variables
  tools/istio-iptables/pkg/capture/run.go
  tools/istio-iptables/pkg/capture/run_test.go
Owners: @costinm, @ldemailly

remove regexes and sorting from getStateFromSave, improve printouts
  tools/istio-iptables/pkg/capture/run.go
Owners: @costinm, @ldemailly

add comments to reverse/check mutation
  tools/istio-iptables/pkg/builder/iptables_builder_impl.go
Owners: @costinm, @ldemailly

add comments about verifyIptablesState and getStateFromSave behavior
  tools/istio-iptables/pkg/capture/run.go
Owners: @costinm, @ldemailly

Support mutiple addresses for IstioEndpoint
  pilot/pkg/model/context.go
  pilot/pkg/model/endpointshards.go
  pilot/pkg/model/endpointshards_test.go
  pilot/pkg/model/push_context_test.go
  pilot/pkg/model/service.go
  pilot/pkg/model/service_test.go
  pilot/pkg/model/validation_test.go
  pilot/pkg/networking/apigen/apigen_test.go
  pilot/pkg/networking/core/cluster_builder_test.go
  pilot/pkg/networking/core/cluster_test.go
  pilot/pkg/networking/core/listener.go
  pilot/pkg/networking/core/listener_builder_test.go
  pilot/pkg/networking/core/listener_test.go
  pilot/pkg/networking/core/loadbalancer/loadbalancer_test.go
  pilot/pkg/networking/core/sidecar_simulation_test.go
  pilot/pkg/networking/grpcgen/grpcgen_test.go
  pilot/pkg/serviceregistry/kube/controller/controller_test.go
  pilot/pkg/serviceregistry/kube/controller/endpoint_builder.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice.go
  pilot/pkg/serviceregistry/kube/controller/endpointslice_test.go
  pilot/pkg/serviceregistry/kube/conversion.go
  pilot/pkg/serviceregistry/memory/discovery.go
  pilot/pkg/serviceregistry/mock/discovery.go
  pilot/pkg/serviceregistry/serviceentry/controller.go
  pilot/pkg/serviceregistry/serviceentry/controller_test.go
  pilot/pkg/serviceregistry/serviceentry/conversion.go
  pilot/pkg/serviceregistry/serviceentry/conversion_test.go
  pilot/pkg/serviceregistry/serviceentry/store.go
  pilot/pkg/serviceregistry/serviceentry/store_test.go
  pilot/pkg/serviceregistry/serviceregistry_test.go
  pilot/pkg/serviceregistry/util/workloadinstances/index.go
  pilot/pkg/serviceregistry/util/workloadinstances/index_test.go
  pilot/pkg/xds/eds_sh_test.go
  pilot/pkg/xds/eds_test.go
  pilot/pkg/xds/endpoints/endpoint_builder.go
  pilot/pkg/xds/endpoints/endpoint_builder_test.go
  pilot/pkg/xds/endpoints/ep_filters_test.go
  pkg/dns/server/name_table.go
  pkg/dns/server/name_table_test.go
  releasenotes/notes/47273.yaml
Owners: @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker, @istio/reviewers-global

Short circuit nametable builder if one address is not valid
  pkg/dns/server/name_table.go
Owners: @istio/reviewers-istio-pilot, @istio/reviewers-istio-security, @istio/reviewers-istio-mixer, @istio/reviewers-istio-galley, @istio/reviewers-istio-broker

minor test improvements
  pilot/pkg/serviceregistry/serviceentry/store_test.go
Owners: @istio/reviewers-istio-pilot

fix tests
  pilot/pkg/serviceregistry/serviceentry/controller_test.go
  pilot/pkg/xds/endpoints/ep_filters_test.go
Owners: @istio/reviewers-istio-pilot

Update comment
  pilot/pkg/model/service.go
Owners: @istio/reviewers-istio-pilot

CODEOWNERS:

# Global fallback
*           @istio/reviewers-global

/release/   @istio/reviewers-istio-release
/prow/      @istio/reviewers-istio-prow
/bin/       @istio/reviewers-istio-bin
/pilot/     @istio/reviewers-istio-pilot
/security/  @istio/reviewers-istio-security
/mixer/     @istio/reviewers-istio-mixer
/galley/    @istio/reviewers-istio-galley
/broker/    @istio/reviewers-istio-broker
/samples/   @istio/reviewers-istio-samples
/install/   @istio/reviewers-istio-install
/tools/     @costinm @ldemailly

# This is intentional. These folders are collective responsibility of all
# devs in istio team whose components (pilot/mixer/security/broker) share
# code from pkg or use tests from tests/ including e2e tests.
/pkg/       @istio/reviewers-istio-pilot @istio/reviewers-istio-security @istio/reviewers-istio-mixer @istio/reviewers-istio-galley @istio/reviewers-istio-broker
/tests/     @istio/reviewers-istio-pilot @istio/reviewers-istio-security @istio/reviewers-istio-mixer @istio/reviewers-istio-galley @istio/reviewers-istio-broker

# Do not enable this. Seems to cause the parsers to fail and not trigger auto review requests
#/.circleci/ @istio/reviewers-istio-circleci
